#####################################################################
# Z Calibration
#####################################################################
[gcode_macro _SET_Z_CURRENT]
description: Helper: Set Z-drive motor current
variable_last_val: 'CONFIG'
gcode:
  {% set val = params.VAL|default('CONFIG') %}
  {% set z_run = printer['gcode_macro _USER_VARIABLE'].homing.z_current       if val == 'HOME'
           else printer.configfile.settings['tmc2209 stepper_z'].run_current if 'tmc2209 stepper_z' in printer.configfile.settings
          else printer.configfile.settings['tmc5160 stepper_z'].run_current if 'tmc5160 stepper_z' in printer.configfile.settings %}
  {% if val != last_val %}
    SET_GCODE_VARIABLE MACRO=_SET_Z_CURRENT VARIABLE=last_val VALUE='"{val}"'
    {% if params.RESPOND|default(printer['gcode_macro _USER_VARIABLE'].respond.z_current)|int == 1 %}
      {action_respond_info("Home&Probe: RunCur %.2fA rms" % z_run|float)}
    {% endif %}
    SET_TMC_CURRENT STEPPER=stepper_z  CURRENT={z_run}
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT={z_run}
    SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT={z_run}
    M400
  {% endif %}

[z_calibration]
nozzle_xy_position: 169,365
switch_xy_position: 175,325
bed_xy_position: 175,175
switch_offset: 0.840
offset_margins: -8.0, 8.0
safe_z_height: 25 ; default is 2 * z_offset from the "probe:z_offset" section
speed: 300
probing_first_fast: true
start_gcode:  
before_switch_gcode:   
end_gcode: 
#set_gcode_offset z_adjust=+1.5 move=1

[gcode_macro CALIBRATE_Z]
rename_existing: BASE_CALIBRATE_Z
gcode:
    {% set nozzle_position=params.NOZZLE_POSITION %}
    {% set switch_position=params.SWITCH_POSITION %}
    {% set bed_position=params.BED_POSITION %}
    {% set switch_offset=params.SWITCH_OFFSET %}
    G28                         # can also be a conditional homing macro
    M117 Z-Calibration..
    ATTACH_PROBE                # a macro for fetching the probe first
    BASE_CALIBRATE_Z NOZZLE_POSITION={nozzle_position} SWITCH_POSITION={switch_position} BED_POSITION={bed_position} SWITCH_OFFSET={switch_offset}
    Dock_Probe                # and parking it afterwards (or DOCK_PROBE in klicky macros)
    M117


